<div class="relative z-0 w-full">
  <textarea
    [attr.name]="name"
    [attr.autocomplete]="autocomplete"
    class="pt-6 rounded-20 block px-5 w-full text-white border border-white/20 appearance-none bg-white/10 hover:bg-white/20 outline-none focus:ring-0 focus:border-white/40 transition-all duration-300 resize-none peer"
    [ngClass]="{
      'border-white': isInvalid,
      'has-value': value?.length
    }"
    [(ngModel)]="value"
    [id]="id"
    [placeholder]="placeholder"
    [disabled]="disabled"
    (blur)="blur()"
    (focus)="focus()"
    (keydown)="onKeyDown($event)"
    #currentInput
    tabindex="0"
    textAreaAutoSize
    [disableAutoSize]="!autosize"
    [maxRows]="maxRows"
    [minRows]="minRows"
    [readonly]="readOnly"
  ></textarea>
  <label
    [for]="id"
    class="px-5 max-lg:text-16px peer-focus:font-sm absolute text-white/50 duration-300 transform -translate-y-5 scale-75 top-5 -z-10 origin-[0] peer-hover:text-white peer-focus:text-white peer- form-control_label peer-focus:scale-75 peer-[.has-value]:scale-75 peer-[.has-value]:left-1 peer-focus:-translate-y-5 peer-focus:left-1 focus:left-1 left-1"
    [class.label--req]="hasRequiredField.value"
    [hidden]="!isHasTitle"
  >
    <span #titleRef><ng-content select="[title]"></ng-content></span>
    <span *ngIf="hasRequiredField.value && isRequiredErrorAvailable">*</span>
  </label>
</div>

<!-- <div
  class="form-control_wrapper"
  [class.has-value]="value && !disabled && allowClear"
>
  <div class="input-prefix" [class.input-prefix--show]="isHasPrefix">
    <span #prefixRef>
      <ng-content select="[inputPrefix]"></ng-content>
    </span>
  </div>
  <div class="form-control_overlay" [hidden]="!isHasTitle"></div>
  <div class="form-control_actions">
    <div class="form-control_loader_wrapper" *ngIf="isLoading">
      <div class="form-control_loader"></div>
    </div>

    <button
      tabindex="-1"
      class="form-control_action form-control_action_clear"
      *ngIf="!isLoading && value && !disabled && allowClear"
      (click)="clearValue()"
    >
      <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
        />
      </svg>
    </button>
  </div>
</div> -->
<div
  class="form-control_error"
  *ngIf="isInvalid && !errorOnHover && isShowErrorMessage"
>
  <form-control-error [control]="formControl"></form-control-error>
  <ng-content select="[input-custom-error]"></ng-content>
</div>
<div class="form-control_text-counter" *ngIf="showTextCounter">0 / 90</div>
