<!-- <div class="flex items-center mb-4">
  <input
    [id]="id"
    type="radio"
    [name]="inputRadioGroup.groupName"
    [value]="value"
    [checked]="checked"
    tabindex="0"
    class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
  />
  <label
    [for]="id"
    class="block ms-2 text-sm font-medium text-white dark:text-gray-300"
  >
    <ng-content select="[title]"></ng-content>
  </label>
</div> -->

<!-- <label class="form-radio_label" [for]="id">
	<input
		[id]="id"
		class="form-radio_control"
		type="radio"
		[value]="value"
		[checked]="checked"
		[disabled]="disabled"
		[name]="inputRadioGroup.groupName"
		tabindex="0"
	/>
	<span class="form-radio_icon"></span>
	<span #titleRef class="form-radio_title" [hidden]="!titleRef.innerHTML.trim()">
		<ng-content select="[title]"></ng-content>
	</span>
</label> -->
