<main class="p-1 lg:p-2.5 bg-neutral-100 text-white">
  <div class="mx-auto">
    <app-header />
    <div class="">
      <section
        class="bg-dark px-6 lg:px-12 pb-10 lg:pb-20 rounded-3xl flex flex-col mb-5 pt-30 lg:pt-52"
      >
        <div
          class="flex lg:space-x-6 items-center mb-10 lg:mb-20 flex-col lg:flex-row"
        >
          <div class="w-full lg:w-2/4 mb-6 lg:mb-0">
            <h1 class="text-h1">Privacy Policy</h1>
          </div>
          <div class="w-full lg:w-2/4">
            <div class="md:w-96 lg:ms-auto">
              Maximize your business potential with custom software solutions.
              Our expert team delivers tailored CRM and ERP platforms, fostering
              growth
            </div>
          </div>
        </div>
        <div class="flex">
          <a
            routerLink="/"
            class="cursor-pointer transition-all duration-500 link--animation link--animation-white"
            >Home</a
          >
          <div class="mx-3 lg:mx-6">/</div>
          <div class="text-white/50">Privacy Policy</div>
        </div>
      </section>
      <section
        class="py-10 lg:py-20 px-6 lg:px-12 rounded-3xl bg-white text-default"
      >
        <div class="">
          <h2 class="text-2xl font-bold mb-4">
            Controller within the meaning of the General Data Protection
            Regulation (GDPR) and other national data protection laws as well as
            other data protection regulations is:
          </h2>
          <p class="mb-4">
            <strong>Byrud Dynamics GmbH</strong><br />
            Wandsbeker Chaussee 212-214<br />
            22089 Hamburg, Germany
          </p>
          <h2 class="text-xl font-semibold mb-2">Represented by:</h2>
          <p class="mb-4">Bogdan Rud</p>
          <h2 class="text-xl font-semibold mb-2">Contact:</h2>
          <p class="mb-4">
            Phone: +49 175 7443981<br />
            Email:
            <a href="mailto:info@byrud.de" class="text-blue-600"
              >info&#64;byrud.de</a
            >
          </p>
          <hr class="my-6" />
          <h2 class="text-xl font-bold mb-4">
            1. General Information on Data Processing
          </h2>
          <h3 class="text-lg font-semibold mb-2">
            1.1 Processing of Personal Data and Purpose
          </h3>
          <p class="mb-4">
            Byrud Dynamics GmbH (hereinafter referred to as "Byrud Dynamics" or
            "we") processes personal data of users exclusively to the extent
            necessary to provide a functional website as well as our content and
            services.
          </p>
          <ul class="list-disc pl-6 mb-4">
            <li>IP address of the user (in anonymized form)</li>
            <li>Browser used (type, version)</li>
            <li>Operating system used</li>
            <li>Device type used</li>
            <li>Date and time of access to our website</li>
            <li>Requested webpages or files on our site</li>
            <li>Website from which the user accessed our website</li>
            <li>Website that the user accesses via our website</li>
          </ul>
          <p class="mb-4">
            The processing and temporary storage of the IP address is necessary
            to deliver the website to the user's computer. For this purpose, the
            user's IP address must be stored for the duration of the session.
            The log files contain IP addresses or other data that allow user
            identification. Storage in log files is done to ensure the
            functionality of the websites. Additionally, the data serve to
            optimize our websites and to ensure the security of our information
            technology systems. Any processing of personal data is carried out
            exclusively for the purposes stated and to the extent necessary to
            achieve these purposes. These data are not used for advertising,
            customer consulting, or market research purposes.
          </p>
          <h3 class="text-lg font-semibold mb-2">
            1.2 Legal Basis for the Processing of Personal Data
          </h3>
          <p class="mb-4">
            The processing of personal data of our users generally occurs after
            the user's consent. An exception applies in cases where prior
            consent cannot be obtained for practical reasons, and the processing
            of the data is permitted by legal regulations. The storage of data
            and log files is based on Art. 6 para. 1 lit. f GDPR.
          </p>
          <h3 class="text-lg font-semibold mb-2">
            1.3 Data Deletion and Storage Duration
          </h3>
          <p class="mb-4">
            The personal data of the affected individuals are deleted or blocked
            by us as soon as the purpose of storage ceases. In the case of data
            processing for providing the websites, deletion occurs when the
            respective session is terminated. In the case of storage of personal
            data in log files, deletion occurs at the latest after seven days.
            Further storage is possible if the IP addresses of the users are
            deleted or altered beforehand so that assignment to the accessing
            client is no longer possible.
          </p>
          <h2 class="text-xl font-bold mb-4">2. Google Analytics</h2>
          <p class="mb-4">
            Our websites use Google Analytics provided by Google Ireland
            Limited, Gordon House, Barrow Street, Dublin 4, Ireland ("Google").
            This is software for statistical analysis of user access. We aim to
            improve the quality of our websites and their content through web
            analysis. Google Analytics uses cookies (see above), which enable an
            analysis of the use of our websites. Data processing in this context
            is based on Art. 6 para. 1 lit. f GDPR. We have a legitimate
            interest in analyzing the behavior of users of our websites to
            optimize them accordingly. Web analysis can be technically prevented
            by deactivating JavaScript and cookies in the respective web
            browser. Details on the necessary settings can be found in the
            product descriptions or instructions of the various browser
            providers. Data processing by Google can also be prevented by using
            a browser add-on to deactivate Google Analytics. Further information
            and the add-on can be found at
            <a
              href="https://tools.google.com/dlpage/gaoptout?hl=en"
              rel="nofollow"
              class="text-blue-600"
              >https://tools.google.com/dlpage/gaoptout?hl=en</a
            >.
          </p>
          <p class="mb-4">
            Further information on the terms of use and data protection of
            Google Analytics can be found at
            <a
              href="https://www.google.com/analytics/terms/en.html"
              rel="nofollow"
              class="text-blue-600"
              >https://www.google.com/analytics/terms/en.html</a
            >
            and
            <a
              href="https://www.google.com/intl/en/policies/"
              rel="nofollow"
              class="text-blue-600"
              >https://www.google.com/intl/en/policies/</a
            >.
          </p>
          <h2 class="text-xl font-bold mb-4">3. Google Maps</h2>
          <p class="mb-4">
            Our websites use Google Maps API, provided by Google Inc., 1600
            Amphitheatre Parkway, Mountain View, CA 94043, USA, to display
            geographical information visually. When using Google Maps, Google
            also processes data about the use of the Maps functions by users of
            the websites. The legal basis for data processing is Art. 6 para. 1
            lit. f GDPR. We have a legitimate interest in an appealing
            presentation of our websites and in making it easy to find the
            locations we specify on the websites. Further information on data
            processing by Google can be found in the privacy notices at
            <a
              href="https://policies.google.com/privacy?hl=en"
              rel="nofollow"
              class="text-blue-600"
              >https://policies.google.com/privacy?hl=en</a
            >.
          </p>
          <h2 class="text-xl font-bold mb-4">
            4. Contact Form and Email Contact
          </h2>
          <p class="mb-4">
            A contact form is available on our websites, which can be used for
            electronic contact. If a user takes advantage of this option, the
            data entered in the input mask are transmitted to us and stored:
          </p>
          <ul class="list-disc pl-6 mb-4">
            <li>Name</li>
            <li>Email address</li>
            <li>Telephone number</li>
            <li>Free field for individual text</li>
            <li>IP address of the user</li>
            <li>Date and time of submission</li>
          </ul>
          <p class="mb-4">
            Depending on the specific contact form, additional data may be
            entered into the input mask. Alternatively, contact can be made via
            the provided email address. In this case, the user's personal data
            transmitted with the email are stored by us. The legal basis for
            processing the data is Art. 6 para. 1 lit. a GDPR if the user has
            given consent. If personal data are transmitted in the context of
            sending an email, Art. 6 para. 1 lit. f GDPR is the legal basis. If
            the contact aims at concluding a contract, Art. 6 para. 1 lit. b
            GDPR is the legal basis. The data are used exclusively for
            processing the contact and subsequent communication. In this
            context, the data are not passed on to third parties. The personal
            data from the input mask of the contact form and those sent by email
            are deleted when the respective communication with the user is
            ended, i.e., as soon as it can be inferred from the circumstances
            that the relevant matter has been conclusively clarified. The
            personal data additionally collected during the sending process are
            deleted at the latest after a period of days.
          </p>
          <p class="mb-4">
            The user has the option at any time to revoke their consent to the
            processing of personal data. If the user contacts us via email, they
            can object to the storage of their personal data at any time. In
            such a case, the contact request cannot be processed or the
            communication cannot be continued. All personal data stored in the
            course of contacting us will be deleted in this case.
          </p>
          <h2 class="text-xl font-bold mb-4">5. Inquiry Form</h2>
          <p class="mb-4">
            An inquiry form is available on our websites, which can be used to
            request offers without obligation. If a user takes advantage of this
            option, the data entered in the input mask are transmitted to us and
            stored:
          </p>
          <ul class="list-disc pl-6 mb-4">
            <li>Salutation</li>
            <li>First name</li>
            <li>Last name</li>
            <li>Email</li>
            <li>Telephone number</li>
            <li>Free field for individual messages (optional)</li>
            <li>IP address of the user</li>
            <li>Date and time of submission</li>
          </ul>
          <p class="mb-4">
            The legal basis for processing the data is Art. 6 para. 1 lit. f
            GDPR. The data are used exclusively for processing the inquiry and
            subsequent communication with the user. The personal data from the
            input mask of the inquiry form are deleted by us as soon as it can
            be inferred from the circumstances that the relevant matter has been
            conclusively clarified. The personal data additionally collected
            during the sending process are deleted at the latest after a period
            of days.
          </p>
          <h2 class="text-xl font-bold mb-4">6. Security</h2>
          <p class="mb-4">
            Byrud Dynamics employs technical and organizational security
            measures to protect users' personal data against accidental or
            intentional manipulation, loss, destruction, or unauthorized access
            by unauthorized persons. Our security measures are continuously
            improved in line with technological developments.
          </p>
          <h2 class="text-xl font-bold mb-4">7. Rights of the Data Subject</h2>
          <p class="mb-4">
            If Byrud Dynamics processes your personal data, you are a data
            subject according to Art. 4 No. 1 GDPR, and you have the following
            rights vis-à-vis Byrud Dynamics:
          </p>
          <h3 class="text-lg font-semibold mb-2">7.1 Right to Access</h3>
          <p class="mb-4">
            You can request confirmation from us according to Art. 15 GDPR as to
            whether personal data concerning you are being processed by us. If
            we process your personal data, you can request information from us
            about the following:
          </p>
          <ul class="list-disc pl-6 mb-4">
            <li>The purposes of processing;</li>
            <li>The categories of personal data we process;</li>
            <li>
              The recipients or categories of recipients to whom your personal
              data have been or will be disclosed;
            </li>
            <li>
              If possible, the planned duration for which your personal data
              will be stored, or, if this is not possible, the criteria for
              determining the storage duration;
            </li>
            <li>
              The existence of a right to rectification or erasure of your
              personal data, a right to restrict processing by us, or a right to
              object to such processing;
            </li>
            <li>
              The existence of a right to lodge a complaint with a supervisory
              authority;
            </li>
            <li>
              All available information about the source of the data, if the
              personal data were not collected from you;
            </li>
            <li>
              The existence of automated decision-making, including profiling
              (Art. 22 paras. 1 and 4 GDPR), and—at least in these
              cases—meaningful information about the logic involved, as well as
              the significance and the envisaged consequences of such processing
              for you.
            </li>
          </ul>
          <p class="mb-4">
            You have the right to request information as to whether your
            personal data are transferred to a third country or an international
            organization. In this context, you can request to be informed of the
            appropriate safeguards pursuant to Art. 46 GDPR in connection with
            the transfer.
          </p>
          <h3 class="text-lg font-semibold mb-2">7.2 Right to Rectification</h3>
          <p class="mb-4">
            According to Art. 16 GDPR, you have the right to request from us the
            rectification and/or completion of inaccurate personal data
            concerning you.
          </p>
          <h3 class="text-lg font-semibold mb-2">7.3 Right to Erasure</h3>
          <p class="mb-4">
            You can request from us under Art. 17 GDPR that your personal data
            be erased without undue delay. We are obliged to erase your data
            without undue delay if one of the following reasons applies:
          </p>
          <ul class="list-disc pl-6 mb-4">
            <li>
              Your personal data are no longer necessary for the purposes for
              which they were collected or otherwise processed.
            </li>
            <li>
              You withdraw your consent on which the processing is based
              according to Art. 6 para. 1 lit. a GDPR or Art. 9 para. 2 lit. a
              GDPR, and there is no other legal ground for the processing.
            </li>
            <li>
              You object to the processing according to Art. 21 para. 1 GDPR and
              there are no overriding legitimate grounds for the processing, or
              you object to the processing according to Art. 21 para. 2 GDPR.
            </li>
            <li>Your personal data have been unlawfully processed.</li>
            <li>
              The erasure of your personal data is necessary for compliance with
              a legal obligation under Union or Member State law to which we are
              subject.
            </li>
            <li>
              Your personal data have been collected in relation to the offer of
              information society services referred to in Art. 8 para. 1 GDPR.
            </li>
          </ul>
          <p class="mb-4">
            If we have made your personal data public and are obliged to erase
            them pursuant to Art. 17 para. 1 GDPR, we shall take reasonable
            steps, including technical measures, considering available
            technology and the cost of implementation, to inform controllers who
            are processing the personal data that you, as the data subject, have
            requested the erasure of any links to, or copies or replications of,
            your personal data.
          </p>
          <p class="mb-4">
            The right to erasure does not exist to the extent that processing is
            necessary:
          </p>
          <ul class="list-disc pl-6 mb-4">
            <li>
              For exercising the right of freedom of expression and information;
            </li>
            <li>
              For compliance with a legal obligation which requires processing
              by Union or Member State law to which we are subject, or for the
              performance of a task carried out in the public interest or in the
              exercise of official authority vested in us;
            </li>
            <li>
              For reasons of public interest in the area of public health (Art.
              9 para. 2 lit. h and i, as well as Art. 9 para. 3 GDPR);
            </li>
            <li>
              For archiving purposes in the public interest, scientific or
              historical research purposes, or statistical purposes pursuant to
              Art. 89 para. 1 GDPR, insofar as the right referred to is likely
              to render impossible or seriously impair the achievement of the
              objectives of that processing; or
            </li>
            <li>
              For the establishment, exercise, or defense of legal claims.
            </li>
          </ul>
          <h3 class="text-lg font-semibold mb-2">
            7.4 Right to Restriction of Processing
          </h3>
          <p class="mb-4">
            Under the following conditions, you can request the restriction of
            processing of your personal data according to Art. 18 GDPR:
          </p>
          <ul class="list-disc pl-6 mb-4">
            <li>
              If you contest the accuracy of your personal data for a period
              enabling us to verify the accuracy of the personal data;
            </li>
            <li>
              If the processing is unlawful and you oppose the erasure of the
              personal data and request the restriction of their use instead;
            </li>
            <li>
              If we no longer need your personal data for the purposes of
              processing, but you require them for the establishment, exercise,
              or defense of legal claims; or
            </li>
            <li>
              If you have objected to processing pursuant to Art. 21 para. 1
              GDPR and it has not yet been determined whether our legitimate
              grounds override your grounds.
            </li>
          </ul>
          <p class="mb-4">
            If the processing of your personal data has been restricted, these
            data—apart from their storage—may only be processed with your
            consent or for the establishment, exercise, or defense of legal
            claims, or for protecting the rights of another natural or legal
            person, or for reasons of important public interest of the Union or
            a Member State. If the restriction of processing was limited
            according to the aforementioned conditions, you will be informed by
            us before the restriction is lifted.
          </p>
          <h3 class="text-lg font-semibold mb-2">7.5 Right to Notification</h3>
          <p class="mb-4">
            If you have asserted the right to rectification, erasure, or
            restriction of processing against us, we are obliged under Art. 19
            GDPR to notify all recipients to whom your personal data have been
            disclosed of this rectification or erasure of data or restriction of
            processing, unless this proves impossible or involves
            disproportionate effort. You have the right to be informed by us
            about these recipients.
          </p>
          <h3 class="text-lg font-semibold mb-2">
            7.6 Right to Withdraw Consent under Data Protection Law
          </h3>
          <p class="mb-4">
            You have the right to withdraw your data protection consent
            declaration at any time, e.g., by email to
            <a href="mailto:info@byrud.de" class="text-blue-600"
              >info&#64;byrud.de</a
            >. The withdrawal of consent does not affect the lawfulness of
            processing based on consent before its withdrawal.
          </p>
          <h3 class="text-lg font-semibold mb-2">
            7.7 Automated Individual Decision-Making, Including Profiling
          </h3>
          <p class="mb-4">
            According to Art. 22 GDPR, you have the right not to be subject to a
            decision based solely on automated processing—including
            profiling—which produces legal effects concerning you or similarly
            significantly affects you. This does not apply if the decision:
          </p>
          <ul class="list-disc pl-6 mb-4">
            <li>
              Is necessary for entering into, or performance of, a contract
              between you and us;
            </li>
            <li>
              Is authorized by Union or Member State law to which we are subject
              and which also lays down suitable measures to safeguard your
              rights and freedoms and legitimate interests; or
            </li>
            <li>Is based on your explicit consent.</li>
          </ul>
          <h3 class="text-lg font-semibold mb-2">
            7.8 Right to Lodge a Complaint with a Supervisory Authority
          </h3>
          <p class="mb-4">
            Without prejudice to any other administrative or judicial remedy,
            you have the right to lodge a complaint with a supervisory
            authority—particularly in the Member State of your habitual
            residence, place of work, or place of the alleged infringement—if
            you consider that the processing of your personal data by us
            infringes the GDPR.
          </p>
          <h2 class="text-xl font-bold mb-4">
            8. Responsibility for Content and Information
          </h2>
          <p class="mb-4">
            Our websites contain links to internet offerings of external
            providers. The contents of the internet offerings of external
            providers were checked by us when setting the link to determine
            whether they violate applicable civil or criminal laws. However, it
            cannot be ruled out that these contents are subsequently changed by
            the respective providers. If you believe that linked external sites
            violate applicable law or have inappropriate content, please inform
            us. We will check your notice and remove the external link if
            necessary. Byrud Dynamics is not responsible for the content and
            availability of the linked external websites.
          </p>
          <h2 class="text-xl font-bold mb-4">
            9. Inclusion and Validity of the Privacy Policy
          </h2>
          <p class="mb-4">
            By using our websites, you consent to the data processing described
            above. This privacy policy applies only to the web content of Byrud
            Dynamics. Different data protection and data security regulations
            apply to the linked external content. You can find out who is
            responsible for these offerings in the respective imprint.
          </p>
          <p class="mb-4">
            Due to the further development of our websites or the implementation
            of new technologies, it may become necessary to change this privacy
            policy. We therefore reserve the right to change the privacy policy
            at any time with effect for the future. The version available at the
            time of your website visit always applies.
          </p>
        </div>
      </section>
    </div>
    <app-footer />
  </div>
</main>
