<!-- max-w-screen-3xl -->
<header class="absolute top-1 lg:top-5 left-0 right-0 z-20 mx-auto">
  <nav class="px-6 lg:px-12 py-2.5">
    <ng-container *ngTemplateOutlet="headerContent"></ng-container>
  </nav>
</header>

<header
  class="header--sticky fixed -top-20 left-1 lg:left-0 right-1 lg:right-0 z-20 max-w-hSticky lg:w-full border border-headerStickyBorder/10 bg-dark/40 lg:bg-dark rounded-full mx-auto transition-top duration-300"
  [ngClass]="{
    'top-1 lg:top-5': isShowStickyHeader()
  }"
>
  <nav class="pl-6 lg:pl-10 pe-6 lg:pe-2 py-2">
    <ng-container *ngTemplateOutlet="headerContent"></ng-container>
  </nav>
</header>

<ng-template #headerContent>
  <div class="flex flex-wrap items-center mx-auto">
    <a routerLink="/" class="flex items-center me-16 cursor-pointer">
      <img src="assets/img/logo.svg" alt="" />
    </a>
    <div class="flex items-center ms-auto lg:order-2">
      <button
        (click)="onOpenContactSalesCardModal()"
        class="hidden lg:flex btn-white text-dark hover:bg-dark-layer2"
      >
        Let's talk
      </button>
      <button
        type="button"
        class="header-trigger inline-flex items-center py-2 text-white/50 rounded-lg lg:hidden"
        (click)="onToggleMobileMenu()"
      >
        MENU
      </button>
    </div>
    <div
      class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1"
    >
      <ng-container *ngTemplateOutlet="menuItems"></ng-container>
    </div>
  </div>
</ng-template>

@if(isShowMobileMenu()){
<div
  class="px-6 pb-10 pt-3 flex flex-col fixed z-40 inset-0 bg-white text-dark"
>
  <div class="flex items-center justify-between">
    <a routerLink="/" class="flex items-center me-16 cursor-pointer">
      <img src="assets/img/logo_dark.svg" alt="" />
    </a>
    <button
      type="button"
      class="header-trigger inline-flex items-center py-2 text-default rounded-lg lg:hidden"
      (click)="onToggleMobileMenu()"
    >
      CLOSE
    </button>
  </div>
  <div class="my-auto">
    <ng-container *ngTemplateOutlet="menuItems"></ng-container>
  </div>
  <div class="">
    <button
      (click)="onOpenContactSalesCardModal()"
      class="w-full justify-center btn-dark"
    >
      Let's talk
    </button>
  </div>
</div>
}

<ng-template #menuItems>
  <ul
    class="flex flex-col font-medium lg:flex-row space-y-12 lg:space-y-0 lg:space-x-8 lg:mt-0"
  >
    <li>
      <a
        routerLink="/about"
        routerLinkActive="active"
        class="block text-center py-1 lg:py-0 text-dark lg:text-white/50 lg:hover:text-secondary transition-all duration-300"
        >About us</a
      >
    </li>
    <li>
      <a
        routerLink="/contacts"
        routerLinkActive="active"
        class="block text-center py-1 lg:py-0 text-dark lg:text-white/50 lg:hover:text-secondary transition-all duration-300"
        >Contact us</a
      >
    </li>
  </ul>
</ng-template>
