<section
  class="py-20 px-12 rounded-3xl flex flex-col bg-gradient-main text-white mb-5"
>
  <h2 class="text-h2 w-2/6 pb-20">
    Have a streamlined process for our clients, ensuring precision and top-notch
    service
  </h2>
  <div class="grid grid-cols-3 gap-6 mb-20">
    <div class="atropos" #cardEffect>
      <div class="atropos-scale">
        <div class="atropos-rotate">
          <div class="atropos-inner rounded-20">
            <div
              class="p-6 rounded-20 border border-white/10 bg-gradient-card h-full"
            >
              <div
                class="bg-white/10 border border-white/20 px-3 py-1 mb-6 inline-flex rounded-20 text-xs"
              >
                Step 1
              </div>
              <h4 class="mb-2 text-xl">Consultation & Vision Identification</h4>
              <div class="text-white/50">
                We begin by understanding your needs, defining project goals,
                and outlining the results you aim to achieve. This initial stage
                ensures our team aligns with your vision and objectives.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="atropos" #cardEffect>
      <div class="atropos-scale">
        <div class="atropos-rotate">
          <div class="atropos-inner rounded-20">
            <div
              class="p-6 rounded-20 border border-white/10 bg-gradient-card h-full"
            >
              <div
                class="bg-white/10 border border-white/20 px-3 py-1 mb-6 inline-flex rounded-20 text-xs"
              >
                Step 2
              </div>
              <h4 class="mb-2 text-xl">Estimation, Budget & Contract</h4>
              <div class="text-white/50">
                Based on our consultation, we prepare a project estimate,
                including budget considerations. Once all details are reviewed
                and agreed upon, we proceed with contract finalization
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="atropos" #cardEffect>
      <div class="atropos-scale">
        <div class="atropos-rotate">
          <div class="atropos-inner rounded-20">
            <div
              class="p-6 rounded-20 border border-white/10 bg-gradient-card h-full"
            >
              <div
                class="bg-white/10 border border-white/20 px-3 py-1 mb-6 inline-flex rounded-20 text-xs"
              >
                Step 3
              </div>
              <h4 class="mb-2 text-xl">Design & Specification</h4>
              <div class="text-white/50">
                Develop a user-friendly and effective design. You’ll receive a
                detailed layout and description of the product’s features,
                providing a clear blueprint for the development phase
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="atropos" #cardEffect>
      <div class="atropos-scale">
        <div class="atropos-rotate">
          <div class="atropos-inner rounded-20">
            <div
              class="p-6 rounded-20 border border-white/10 bg-gradient-card h-full"
            >
              <div
                class="bg-white/10 border border-white/20 px-3 py-1 mb-6 inline-flex rounded-20 text-xs"
              >
                Step 4
              </div>
              <h4 class="mb-2 text-xl">Development</h4>
              <div class="text-white/50">
                Our developers bring your project to life through
                implementation, coding, and optimization. This phase ensures all
                functionalities are executed as per design and specification
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="atropos" #cardEffect>
      <div class="atropos-scale">
        <div class="atropos-rotate">
          <div class="atropos-inner rounded-20">
            <div
              class="p-6 rounded-20 border border-white/10 bg-gradient-card h-full"
            >
              <div
                class="bg-white/10 border border-white/20 px-3 py-1 mb-6 inline-flex rounded-20 text-xs"
              >
                Step 5
              </div>
              <h4 class="mb-2 text-xl">Testing</h4>
              <div class="text-white/50">
                Comprehensive testing is conducted to confirm that your product
                is free from bugs and meets the highest standards of
                functionality and reliability.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="atropos" #cardEffect>
      <div class="atropos-scale">
        <div class="atropos-rotate">
          <div class="atropos-inner rounded-20">
            <div
              class="p-6 rounded-20 border border-white/10 bg-gradient-card h-full"
            >
              <div
                class="bg-white/10 border border-white/20 px-3 py-1 mb-6 inline-flex rounded-20 text-xs"
              >
                Step 6
              </div>
              <h4 class="mb-2 text-xl">Delivery</h4>
              <div class="text-white/50">
                In this final stage, we provide you with the completed project
                and all associated materials, ensuring a smooth handover and
                successful deployment
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-t border-t-white/30 pt-20">
    <div class="mb-10">
      <h3 class="mb-1 text-h3">Have idea you want to bring to life?</h3>
      <p class="text-white/50">
        Tell us about it, and we’ll help you explore this possibilities
      </p>
    </div>
    <div
      class="bg-white/20 rounded-20 border border-white/20 p-5 inline-flex items-center"
    >
      <div class="flex me-10 items-center">
        <img
          src="./assets/img/sale_round.png"
          alt=""
          class="w-14 h-14 rounded-full me-4"
        />
        <div>
          <div class="">Bogdan Rud</div>
          <div class="text-sm text-white/50">Co-Founder, Sales</div>
        </div>
      </div>
      <button
        class="btn-white text-dark"
        (click)="onOpenContactSalesCardModal()"
      >
        Let's talk
      </button>
    </div>
  </div>
</section>
