<main class="p-1 lg:p-2.5 bg-neutral-100 text-white">
  <div class="mx-auto">
    <app-header />
    <div class="">
      <section
        class="bg-dark px-6 lg:px-12 pb-10 lg:pb-20 rounded-3xl flex flex-col mb-5 pt-30 lg:pt-52"
      >
        <div
          class="flex lg:space-x-6 items-center mb-10 lg:mb-20 flex-col lg:flex-row"
        >
          <div class="w-full lg:w-2/4 mb-6 lg:mb-0">
            <h1 class="text-h1">About</h1>
          </div>
          <div class="w-full lg:w-2/4">
            <div class="md:w-96 lg:ms-auto">
              Maximize your business potential with custom software solutions.
              Our expert team delivers tailored CRM and ERP platforms, fostering
              growth
            </div>
          </div>
        </div>
        <div class="flex">
          <a
            routerLink="/"
            class="cursor-pointer transition-all duration-500 link--animation link--animation-white"
            >Home</a
          >
          <div class="mx-3 lg:mx-6">/</div>
          <div class="text-white/50">About</div>
        </div>
      </section>
      <section-team />
      <section-contacts />
    </div>
    <app-footer />
  </div>
</main>
