<!-- max-w-screen-3xl -->
<main class="p-2.5 bg-neutral-100 text-default">
  <div class="mx-auto">
    <app-header />
    <div class="">
      <section
        class="bg-dark px-12 py-20 rounded-3xl h-welcome flex flex-col mb-5 relative overflow-hidden"
      >
        <canvas
          #animationContainer
          width="800"
          height="600"
          class="absolute bottom-0 left-0 top-0 right-0"
        ></canvas>
        <div class="bg-dark absolute w-2/12 h-15 bottom-0 right-0"></div>
        <div class="mt-auto flex justify-between text-white">
          <h1 class="text-h1 leading-tight line-he w-2/5">
            We are a full-cycle development studio
          </h1>
          <div class="w-96 mt-auto">
            Maximize your business potential with custom software solutions. Our
            expert team delivers tailored CRM and ERP platforms, fostering
            growth
          </div>
        </div>
      </section>
      <section class="py-20">
        <h2 class="text-h2 leading-tight w-2/6 pb-20">
          Deliver exceptional services tailored for medium-sized businesses and
          startups
        </h2>
        <div class="grid grid-cols-3 gap-6">
          <div class="bg-white rounded-20 p-6 flex flex-col">
            <div class="w-15 h-15 mb-10">
              <img src="/assets/icons/design.svg" alt="" />
            </div>
            <div class="mb-64">
              <h3 class="text-h3 mb-2">Design</h3>
              <p class="text-secondary">
                Сreate intuitive, responsive designs that focus on delivering
                seamless user experiences. From user research to visual
                identity, we ensure every element aligns with your brand and
                user goals
              </p>
            </div>
            <div class="mt-auto flex flex-wrap gap-2">
              <div class="tag-item">User research</div>
              <div class="tag-item">Information Architecture</div>
              <div class="tag-item">Information Architecture</div>
              <div class="tag-item">Wireframing</div>
              <div class="tag-item">Prototyping</div>
              <div class="tag-item">UI Design</div>
              <div class="tag-item">User Testing</div>
              <div class="tag-item">Visual Identity</div>
              <div class="tag-item">Logo Design</div>
            </div>
          </div>
          <div class="bg-white rounded-20 p-6 flex flex-col">
            <div class="w-15 h-15 mb-10">
              <img src="/assets/icons/development.svg" alt="" />
            </div>
            <div class="mb-64">
              <h3 class="text-h3 mb-2">Development</h3>
              <p class="text-secondary">
                Our development team builds custom platforms and applications
                that meet your business needs. From front-end to back-end, we
                ensure secure, efficient, and cross-platform solutions
              </p>
            </div>
            <div class="mt-auto flex flex-wrap gap-2">
              <div class="tag-item">Front-End Development</div>
              <div class="tag-item">Back-End Development</div>
              <div class="tag-item">Cross-Platform App Development</div>
              <div class="tag-item">Web Application Development</div>
              <div class="tag-item">Testing and Support</div>
            </div>
          </div>
          <div class="bg-white rounded-20 p-6 flex flex-col">
            <div class="w-15 h-15 mb-10">
              <img src="/assets/icons/security.svg" alt="" />
            </div>
            <div class="mb-64">
              <h3 class="text-h3 mb-2">Security</h3>
              <p class="text-secondary">
                Implement cutting-edge security solutions to safeguard your
                systems and data. From threat detection to recovery, we ensure
                your business remains secure and operational
              </p>
            </div>
            <div class="mt-auto flex flex-wrap gap-2">
              <div class="tag-item">Preventing Cyber Threats</div>
              <div class="tag-item">Threat Detection and Monitoring</div>
              <div class="tag-item">Incident Response and Recovery</div>
            </div>
          </div>
        </div>
      </section>
      <section-process />

      <section-technologies />
      <section class="pt-20 pb-10 px-12 mb-5">
        <h2 class="text-5xl mb-12">Recent works</h2>
        <div class="grid grid-cols-2 gap-6">
          <div class="flex flex-col">
            <div class="rounded-3xl overflow-hidden h-xl mb-4 bg-gray-300">
              <img src="" alt="" class="h-full w-full object-cover" />
            </div>
            <div>
              <h4 class="text-xl">Agset. CRM System, Marketplace</h4>
              <div class="text-secondary">
                Visual identity, UX Design, UI Design, Development, Testing
              </div>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="rounded-3xl overflow-hidden h-xl mb-4 bg-gray-300">
              <img src="" alt="" class="h-full w-full object-cover" />
            </div>
            <div>
              <h4 class="text-xl">Ellimenta. SaaS Service for creators</h4>
              <div class="text-secondary">
                Visual identity, UX Design, UI Design, Development, Testing
              </div>
            </div>
          </div>
          <!-- <div class="flex flex-col">
            <div class="rounded-3xl overflow-hidden h-xl mb-4 bg-gray-300">
              <img src="" alt="" class="h-full w-full object-cover" />
            </div>
            <div>
              <h4 class="text-xl">AB-Tech</h4>
              <div class="text-grey">
                Visual identity, UX Design, UI Design, Development, Testing
              </div>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="rounded-3xl overflow-hidden h-xl mb-4 bg-gray-300">
              <img src="" alt="" class="h-full w-full object-cover" />
            </div>
            <div>
              <h4 class="text-xl">OMS. ERP System</h4>
              <div class="text-grey">
                Visual identity, UX Design, UI Design, Development, Testing
              </div>
            </div>
          </div> -->
        </div>
        <a routerLink="/projects" class="btn-dark mt-12"> Show all </a>
      </section>
      <section-team />
      <section-contacts />
    </div>
    <app-footer />
  </div>
</main>
