<main class="p-2.5 bg-neutral-100 text-default">
  <div class="max-w-screen-2xl mx-auto">
    <app-header />
    <div class="">
      <section
        class="bg-dark px-12 py-20 rounded-3xl h-welcome flex flex-col mb-5"
      >
        <canvas #animationContainer width="800" height="600"></canvas>
        <div class="mt-auto flex justify-between text-white">
          <h1 class="text-h1 w-2/5">We are a full-cycle development studio</h1>
          <div class="text-lg w-96 mt-auto">
            Maximize your business potential with custom software solutions. Our
            expert team delivers tailored CRM and ERP platforms, fostering
            growth
          </div>
        </div>
      </section>
      <section class="py-20">
        <h2 class="text-h2 w-2/5 pb-20">
          Deliver
          <span class="text-secondary">exceptional services tailored for</span>
          medium-sized businesses
          <span class="text-secondary">and</span> startups.
        </h2>
        <div class="grid grid-cols-3 gap-6">
          <div class="bg-white rounded-20 p-6 flex flex-col">
            <div class="w-15 h-15 mb-10">icon</div>
            <div class="mb-64">
              <h3 class="text-2xl mb-2">Design</h3>
              <p class="text-secodnary">
                Crafting responsive, user-centered websites that deliver
                seamless digital experiences
              </p>
            </div>
            <div class="mt-auto flex flex-wrap gap-2">
              <div class="bg-neutral-100 px-3 py-2 text-sm rounded-full">
                User research
              </div>
              <div class="bg-neutral-100 px-3 py-2 text-sm rounded-full">
                Information Architecture
              </div>
              <div class="bg-neutral-100 px-3 py-2 text-sm rounded-full">
                Information Architecture
              </div>
              <div class="bg-neutral-100 px-3 py-2 text-sm rounded-full">
                Wireframing
              </div>
              <div class="bg-neutral-100 px-3 py-2 text-sm rounded-full">
                Prototyping
              </div>
              <div class="bg-neutral-100 px-3 py-2 text-sm rounded-full">
                UI Design
              </div>
              <div class="bg-neutral-100 px-3 py-2 text-sm rounded-full">
                User Testing
              </div>
              <div class="bg-neutral-100 px-3 py-2 text-sm rounded-full">
                Visual Identity
              </div>
              <div class="bg-neutral-100 px-3 py-2 text-sm rounded-full">
                Logo Design
              </div>
            </div>
          </div>
          <div class="bg-white rounded-20 p-6 flex flex-col">
            <div class="w-15 h-15 mb-10">icon</div>
            <div class="mb-64">
              <h3 class="text-2xl mb-2">Development</h3>
              <p class="text-secodnary">
                Crafting responsive, user-centered websites that deliver
                seamless digital experiences
              </p>
            </div>
            <div class="mt-auto flex flex-wrap gap-2">
              <div class="bg-neutral-100 px-3 py-2 text-sm rounded-full">
                Front-End Development
              </div>
              <div class="bg-neutral-100 px-3 py-2 text-sm rounded-full">
                Back-End Development
              </div>
              <div class="bg-neutral-100 px-3 py-2 text-sm rounded-full">
                Cross-Platform App Development
              </div>
              <div class="bg-neutral-100 px-3 py-2 text-sm rounded-full">
                Web Application Development
              </div>
              <div class="bg-neutral-100 px-3 py-2 text-sm rounded-full">
                Testing and Support
              </div>
            </div>
          </div>
          <div class="bg-white rounded-20 p-6 flex flex-col">
            <div class="w-15 h-15 mb-10">icon</div>
            <div class="mb-64">
              <h3 class="text-2xl mb-2">Security</h3>
              <p class="text-secodnary">
                Crafting responsive, user-centered websites that deliver
                seamless digital experiences
              </p>
            </div>
            <div class="mt-auto flex flex-wrap gap-2">
              <div class="bg-neutral-100 px-3 py-2 text-sm rounded-full">
                Preventing Cyber Threats
              </div>
              <div class="bg-neutral-100 px-3 py-2 text-sm rounded-full">
                Threat Detection and Monitoring
              </div>
              <div class="bg-neutral-100 px-3 py-2 text-sm rounded-full">
                Incident Response and Recovery
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="py-20 px-12 rounded-3xl flex flex-col bg-red-950 text-white mb-5"
      >
        <h2 class="text-h2 w-2/5 pb-20">
          <span class="text-secondary">Have a</span> streamlined process
          <span class="text-secondary">for our clients, ensuring</span>
          precision <span class="text-secondary">and</span> top-notch service
        </h2>
        <div class="grid grid-cols-3 gap-6 mb-20">
          <div
            class="p-6 rounded-20 border border-white/10 bg-gradient-to-br from-white/0 to-white/10"
          >
            <div
              class="bg-white/10 border border-white/20 px-3 py-1 mb-6 inline-flex rounded-20"
            >
              Step 1
            </div>
            <h4 class="mb-2">Consultation & Vision Identification</h4>
            <div class="text-white/50">
              We begin by understanding your needs, defining project goals, and
              outlining the results you aim to achieve. This initial stage
              ensures our team aligns with your vision and objectives.
            </div>
          </div>
          <div
            class="p-6 rounded-20 border border-white/10 bg-gradient-to-br from-white/0 to-white/10"
          >
            <div
              class="bg-white/10 border border-white/20 px-3 py-1 mb-6 inline-flex rounded-20"
            >
              Step 2
            </div>
            <h4 class="mb-2">Estimation, Budget & Contract</h4>
            <div class="text-white/50">
              Based on our consultation, we prepare a project estimate,
              including budget considerations. Once all details are reviewed and
              agreed upon, we proceed with contract finalization
            </div>
          </div>
          <div
            class="p-6 rounded-20 border border-white/10 bg-gradient-to-br from-white/0 to-white/10"
          >
            <div
              class="bg-white/10 border border-white/20 px-3 py-1 mb-6 inline-flex rounded-20"
            >
              Step 3
            </div>
            <h4 class="mb-2">Design & Specification</h4>
            <div class="text-white/50">
              Develop a user-friendly and effective design. You’ll receive a
              detailed layout and description of the product’s features,
              providing a clear blueprint for the development phase
            </div>
          </div>
          <div
            class="p-6 rounded-20 border border-white/10 bg-gradient-to-br from-white/0 to-white/10"
          >
            <div
              class="bg-white/10 border border-white/20 px-3 py-1 mb-6 inline-flex rounded-20"
            >
              Step 4
            </div>
            <h4 class="mb-2">Development</h4>
            <div class="text-white/50">
              Our developers bring your project to life through implementation,
              coding, and optimization. This phase ensures all functionalities
              are executed as per design and specification
            </div>
          </div>
          <div
            class="p-6 rounded-20 border border-white/10 bg-gradient-to-br from-white/0 to-white/10"
          >
            <div
              class="bg-white/10 border border-white/20 px-3 py-1 mb-6 inline-flex rounded-20"
            >
              Step 5
            </div>
            <h4 class="mb-2">Testing</h4>
            <div class="text-white/50">
              Comprehensive testing is conducted to confirm that your product is
              free from bugs and meets the highest standards of functionality
              and reliability.
            </div>
          </div>
          <div
            class="p-6 rounded-20 border border-white/10 bg-gradient-to-br from-white/0 to-white/10"
          >
            <div
              class="bg-white/10 border border-white/20 px-3 py-1 mb-6 inline-flex rounded-20"
            >
              Step 6
            </div>
            <h4 class="mb-2">Delivery</h4>
            <div class="text-white/50">
              In this final stage, we provide you with the completed project and
              all associated materials, ensuring a smooth handover and
              successful deployment
            </div>
          </div>
        </div>
        <div class="border-t border-t-white/30 pt-20">
          <h3 class="mb-2 text-2xl">Have idea you want to bring to life?</h3>
          <p class="text-white/50">
            Tell us about it, and we’ll help you explore this possibilities
          </p>
        </div>
      </section>
      <section class="py-20 px-12 bg-white rounded-20 mb-20">
        <div class="flex justify-between mb-32">
          <h2 class="text-h2 w-2/5">
            <span class="text-secondary">We select only</span> top-tier
            technologies
            <span class="text-secondary">and software to provide</span>
            outstanding, future-ready results
          </h2>
          <div class="text-lg w-96 mt-auto">
            Maximize your business potential with custom software solutions. Our
            expert team delivers tailored CRM and ERP platforms, fostering
            growth
          </div>
        </div>
        <div class="grid grid-cols-9 gap-6">
          <div class="rounded-20 bg-neutral-100 px-5 pb-4.5 pt-15">
            <div class="w-20 h-20 flex justify-center items-center">icon</div>
            <div class="text-center">Angular</div>
          </div>
          <div class="rounded-20 bg-neutral-100 px-5 pb-4.5 pt-15">
            <div class="w-20 h-20 flex justify-center items-center">icon</div>
            <div class="text-center">HTML</div>
          </div>
          <div class="rounded-20 bg-neutral-100 px-5 pb-4.5 pt-15">
            <div class="w-20 h-20 flex justify-center items-center">icon</div>
            <div class="text-center">SCSS</div>
          </div>
          <div class="rounded-20 bg-neutral-100 px-5 pb-4.5 pt-15">
            <div class="w-20 h-20 flex justify-center items-center">icon</div>
            <div class="text-center">ASP.NET</div>
          </div>
          <div class="rounded-20 bg-neutral-100 px-5 pb-4.5 pt-15">
            <div class="w-20 h-20 flex justify-center items-center">icon</div>
            <div class="text-center">JavaScript</div>
          </div>
          <div class="rounded-20 bg-neutral-100 px-5 pb-4.5 pt-15">
            <div class="w-20 h-20 flex justify-center items-center">icon</div>
            <div class="text-center">Typescript</div>
          </div>
          <div class="rounded-20 bg-neutral-100 px-5 pb-4.5 pt-15">
            <div class="w-20 h-20 flex justify-center items-center">icon</div>
            <div class="text-center">SignalR</div>
          </div>
          <div class="rounded-20 bg-neutral-100 px-5 pb-4.5 pt-15">
            <div class="w-20 h-20 flex justify-center items-center">icon</div>
            <div class="text-center">RabbitMq</div>
          </div>
          <div class="rounded-20 bg-neutral-100 px-5 pb-4.5 pt-15">
            <div class="w-20 h-20 flex justify-center items-center">icon</div>
            <div class="text-center">nrwl</div>
          </div>
        </div>
      </section>
      <section class="pt-20 pb-10 px-12 mb-5">
        <h2 class="text-5xl mb-6">Recent works</h2>
        <div class="flex space-x-1 mb-12">
          <button class="px-6 py-3 rounded-full bg-default text-white">
            All (24)
          </button>
          <button
            class="px-6 py-3 rounded-full bg-white text-secondary hover:bg-default hover:text-white transition-all duration-300"
          >
            Website (24)
          </button>
          <button
            class="px-6 py-3 rounded-full bg-white text-secondary hover:bg-default hover:text-white transition-all duration-300"
          >
            CRM (1)
          </button>
          <button
            class="px-6 py-3 rounded-full bg-white text-secondary hover:bg-default hover:text-white transition-all duration-300"
          >
            ERP (1)
          </button>
        </div>
        <div class="grid grid-cols-2 gap-6">
          <div class="flex flex-col">
            <div class="rounded-3xl overflow-hidden h-xl mb-4 bg-gray-300">
              <img src="" alt="" class="h-full w-full object-cover" />
            </div>
            <div>
              <h4 class="text-xl">Agset. CRM System, Marketplace</h4>
              <div class="text-grey">
                Visual identity, UX Design, UI Design, Development, Testing
              </div>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="rounded-3xl overflow-hidden h-xl mb-4 bg-gray-300">
              <img src="" alt="" class="h-full w-full object-cover" />
            </div>
            <div>
              <h4 class="text-xl">Ellimenta. SaaS Service for creators</h4>
              <div class="text-grey">
                Visual identity, UX Design, UI Design, Development, Testing
              </div>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="rounded-3xl overflow-hidden h-xl mb-4 bg-gray-300">
              <img src="" alt="" class="h-full w-full object-cover" />
            </div>
            <div>
              <h4 class="text-xl">AB-Tech</h4>
              <div class="text-grey">
                Visual identity, UX Design, UI Design, Development, Testing
              </div>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="rounded-3xl overflow-hidden h-xl mb-4 bg-gray-300">
              <img src="" alt="" class="h-full w-full object-cover" />
            </div>
            <div>
              <h4 class="text-xl">OMS. ERP System</h4>
              <div class="text-grey">
                Visual identity, UX Design, UI Design, Development, Testing
              </div>
            </div>
          </div>
        </div>
        <button class="px-6 py-3 rounded-full bg-default text-white mt-12">
          Show all (8)
        </button>
      </section>
      <section class="py-20 px-12 bg-white rounded-20 mb-20">
        <div class="flex justify-between pb-30 space-x-6">
          <h2 class="text-h2 w-2/4">
            Our team has best team players and specialist for best work
          </h2>
          <div class="w-2/4">
            <div class="text-lg w-96 text-secondary">
              By leveraging the best tools in the industry, we streamline
              development, enhance efficiency, and achieve unparalleled quality
              in every project
            </div>
          </div>
        </div>
        <div class="flex justify-between pb-36 space-x-6">
          <div class="w-2/4"></div>
          <div class="w-2/4 flex space-x-6">
            <div class="flex flex-col w-2/4">
              <p class="text-secondary">Team experience (Years)</p>
              <div class="text-h1">48+</div>
            </div>
            <div class="flex flex-col w-2/4">
              <p class="text-secondary">Complete projects</p>
              <div class="text-h1">20+</div>
            </div>
          </div>
        </div>
        <div class="border-t bordet-t-default pt-30 mb-5">
          <div class="grid grid-cols-5 gap-6">
            <div class="flex flex-col">
              <div class="mb-4 rounded-3xl bg-gray-500 h-96">
                <img src="" alt="" class="h-full w-full object-cover" />
              </div>
              <div>
                <div class="text-lg">Maxim Khochlachov</div>
              </div>
            </div>
            <div class="flex flex-col">
              <div class="mb-4 rounded-3xl bg-gray-500 h-96">
                <img src="" alt="" class="h-full w-full object-cover" />
              </div>
              <div>
                <div class="text-lg">22Maxim Khochlachov</div>
              </div>
            </div>
            <div class="flex flex-col">
              <div class="mb-4 rounded-3xl bg-gray-500 h-96">
                <img src="" alt="" class="h-full w-full object-cover" />
              </div>
              <div>
                <div class="text-lg">33Maxim Khochlachov</div>
              </div>
            </div>
            <div class="flex flex-col">
              <div class="mb-4 rounded-3xl bg-gray-500 h-96">
                <img src="" alt="" class="h-full w-full object-cover" />
              </div>
              <div>
                <div class="text-lg">44Maxim Khochlachov</div>
              </div>
            </div>
            <div class="flex flex-col">
              <div class="mb-4 rounded-3xl bg-gray-500 h-96">
                <img src="" alt="" class="h-full w-full object-cover" />
              </div>
              <div>
                <div class="text-lg">55Maxim Khochlachov</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="py-20 px-12 bg-red-950 text-white rounded-3xl flex space-x-6"
      >
        <div class="w-2/4">
          <h2 class="text-h2">
            Let's take the next step. Provide us with a brief description of
            what you are going to build
          </h2>
        </div>
        <div class="w-2/4">
          <div class="mb-6">
            <input-text>
              <ng-container title>Name</ng-container>
            </input-text>
          </div>
          <div class="mb-6">
            <input-text>
              <ng-container title>Email</ng-container>
            </input-text>
          </div>
          <div class="mb-6">
            <input-text>
              <ng-container title>Company Name</ng-container>
            </input-text>
          </div>
          <div class="mb-6">
            <div class="mb-4 text-lg">Select budget: {{ test1 }}</div>

            <div class="flex space-x-2">
              <div class="relative z-0">
                <input
                  type="radio"
                  name="color"
                  value="red"
                  [(ngModel)]="test1"
                  class="hidden peer"
                  id="red"
                />
                <label
                  for="red"
                  class="rounded-20 border border-white/20 w-28 flex justify-center items-center h-12 transition-all duration-300 hover:bg-white hover:text-dark cursor-pointer peer-checked:bg-white peer-checked:text-dark"
                >
                  Red
                </label>
              </div>
              <div class="relative z-0">
                <input
                  type="radio"
                  name="color"
                  value="blue"
                  [(ngModel)]="test1"
                  class="hidden peer"
                  id="blue"
                />
                <label
                  for="blue"
                  class="rounded-20 border border-white/20 w-28 flex justify-center items-center h-12 transition-all duration-300 hover:bg-white hover:text-dark cursor-pointer peer-checked:bg-white peer-checked:text-dark"
                >
                  Blue
                </label>
              </div>
              <div class="relative z-0">
                <input
                  type="radio"
                  name="color"
                  value="Green"
                  [(ngModel)]="test1"
                  class="hidden peer"
                  id="Green"
                />
                <label
                  for="Green"
                  class="rounded-20 border border-white/20 w-28 flex justify-center items-center h-12 transition-all duration-300 hover:bg-white hover:text-dark cursor-pointer peer-checked:bg-white peer-checked:text-dark"
                >
                  Green
                </label>
              </div>
            </div>
          </div>
          <div class="mb-6" inputRadioGroup>
            Select project type

            <input-radio [value]="1">
              <ng-container title>11</ng-container>
            </input-radio>
            <input-radio [value]="2">
              <ng-container title>22</ng-container>
            </input-radio>
          </div>
          <div class="mb-6">
            <input-textarea [autosize]="true">
              <ng-container title>Description</ng-container>
            </input-textarea>
          </div>
          <div class="mb-6">
            <p class="text-sm text-white/50">
              By submitting this form I consent to having Brights collect and
              process my personal details and agree with
              <a href="#" class="text-white/50 hover:text-white/100 underline"
                >Privacy Policy</a
              >
            </p>
          </div>
          <div>
            <button
              class="px-6 py-3 rounded-full bg-white hover:bg-default hover:text-white transition-all duration-300 text-default"
            >
              Send
            </button>
          </div>
        </div>
      </section>
    </div>
    <app-footer />
  </div>
</main>
