<section
  class="py-10 lg:py-20 px-6 lg:px-12 bg-white rounded-20 mb-10 lg:mb-20 overflow-hidden"
>
  <div class="flex justify-between mb-14 lg:mb-32 flex-col lg:flex-row">
    <h2 class="text-h2 md:w-1/2 lg:w-2/6 lg:mb-0 mb-2">
      Use only cutting-edge technologies to build reliable solutions
    </h2>
    <div class="text-lg md:w-96 mt-auto">
      Work with the best tools to ensure high quality and future-proof your
      projects. From websites to integrated CRM and ERP systems, we create
      solutions that help your business grow
    </div>
  </div>
  <div class="running-line">
    <div class="gap-6 running-line_item">
      <ng-container *ngTemplateOutlet="listOfTechnologies"></ng-container>
    </div>
    <div class="gap-6 running-line_item running-line_item--second">
      <ng-container *ngTemplateOutlet="listOfTechnologies"></ng-container>
    </div>
  </div>
</section>

<ng-template #listOfTechnologies>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/angular.svg" alt="" />
    </div>
    <div class="text-center">Angular</div>
  </div>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/html5.svg" alt="" />
    </div>
    <div class="text-center">HTML</div>
  </div>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/css3.svg" alt="" />
    </div>
    <div class="text-center">SCSS</div>
  </div>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/dotnet.svg" alt="" />
    </div>
    <div class="text-center">ASP.NET</div>
  </div>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/javascript.svg" alt="" />
    </div>
    <div class="text-center">JavaScript</div>
  </div>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/ts.svg" alt="" />
    </div>
    <div class="text-center">Typescript</div>
  </div>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/signalr.svg" alt="" />
    </div>
    <div class="text-center">SignalR</div>
  </div>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/rabbit.svg" alt="" />
    </div>
    <div class="text-center">RabbitMq</div>
  </div>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/bootstrap.svg" alt="" />
    </div>
    <div class="text-center">Bootstrap</div>
  </div>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/nx.svg" alt="" />
    </div>
    <div class="text-center">NX</div>
  </div>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/nhibernate.svg" alt="" />
    </div>
    <div class="text-center">Nhibernate</div>
  </div>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/ngrx.svg" alt="" />
    </div>
    <div class="text-center">Ngrx</div>
  </div>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/postgresql.svg" alt="" />
    </div>
    <div class="text-center">PostgreSQL</div>
  </div>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/scss.svg" alt="" />
    </div>
    <div class="text-center">SCSS</div>
  </div>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/rxjs.svg" alt="" />
    </div>
    <div class="text-center">RXJS</div>
  </div>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/redis.svg" alt="" />
    </div>
    <div class="text-center">Radius</div>
  </div>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/mssql.svg" alt="" />
    </div>
    <div class="text-center">MSSQL</div>
  </div>
  <div class="technology-item">
    <div class="w-20 h-20 flex justify-center items-center mx-auto mb-5">
      <img src="assets/icons/technologies/mongodb.svg" alt="" />
    </div>
    <div class="text-center">MongoDB</div>
  </div>
</ng-template>
