$animationDuration: 45s;

.running-line {
  position: relative;
  display: flex;
  &_item {
    padding: 0 12px;
    display: flex;
    animation: scroll $animationDuration linear infinite;
    animation-delay: calc($animationDuration * -1);

    &.running-line_item--second {
      animation: scroll2 $animationDuration linear infinite;
      animation-delay: calc($animationDuration / -2);
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}
