.running-line {
  height: 200px;
  position: relative;
  &_item {
    width: 100%;
    padding: 0 12px;
    transform: translate(100%, 0);
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    animation: ticker 30s infinite linear forwards;

    &.running-line_item--second {
      animation: 30s ticker 15s infinite linear forwards;
    }
  }
}

@keyframes ticker {
  0% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
