<main class="p-2.5 bg-neutral-100 text-white">
  <div class="max-w-screen-3xl mx-auto">
    <app-header />
    <div class="">
      <section class="bg-dark px-12 pb-20 rounded-3xl flex flex-col mb-5 pt-52">
        <div class="flex space-x-6 items-center mb-20">
          <div class="w-2/4">
            <h1 class="text-h1">Works</h1>
          </div>
          <div class="w-2/4">
            <div class="w-96 ms-auto">
              Maximize your business potential with custom software solutions.
              Our expert team delivers tailored CRM and ERP platforms, fostering
              growth
            </div>
          </div>
        </div>
        <div class="flex">
          <a
            routerLink="/"
            class="cursor-pointer hover:text-blue-500 transition-all duration-300"
            >Home</a
          >
          <div class="mx-6">/</div>
          <div class="text-white/50">Works</div>
        </div>
      </section>
      <section class="pt-20 pb-10 px-12 mb-5 text-dark">
        <div class="grid grid-cols-2 gap-6">
          <div class="flex flex-col">
            <div class="rounded-3xl overflow-hidden h-xl mb-4 bg-gray-300">
              <img src="" alt="" class="h-full w-full object-cover" />
            </div>
            <div>
              <h4 class="text-xl">Agset. CRM System, Marketplace</h4>
              <div class="text-secondary">
                Visual identity, UX Design, UI Design, Development, Testing
              </div>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="rounded-3xl overflow-hidden h-xl mb-4 bg-gray-300">
              <img src="" alt="" class="h-full w-full object-cover" />
            </div>
            <div>
              <h4 class="text-xl">Ellimenta. SaaS Service for creators</h4>
              <div class="text-secondary">
                Visual identity, UX Design, UI Design, Development, Testing
              </div>
            </div>
          </div>
          <!-- <div class="flex flex-col">
            <div class="rounded-3xl overflow-hidden h-xl mb-4 bg-gray-300">
              <img src="" alt="" class="h-full w-full object-cover" />
            </div>
            <div>
              <h4 class="text-xl">AB-Tech</h4>
              <div class="text-grey">
                Visual identity, UX Design, UI Design, Development, Testing
              </div>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="rounded-3xl overflow-hidden h-xl mb-4 bg-gray-300">
              <img src="" alt="" class="h-full w-full object-cover" />
            </div>
            <div>
              <h4 class="text-xl">OMS. ERP System</h4>
              <div class="text-grey">
                Visual identity, UX Design, UI Design, Development, Testing
              </div>
            </div>
          </div> -->
        </div>
      </section>
      <section-contacts />
    </div>
    <app-footer />
  </div>
</main>
