<footer
  class="px-6 lg:px-12 pt-10 lg:pt-20 pb-6 lg:pb-12 rounded-3xl bg-white text-default mt-5"
>
  <h2 class="text-h2 md:w-1/2 lg:w-2/6 mb-10 lg:mb-20 leading-tight">
    Partner with a studio that crafts tailor-made solutions for your unique
    ideas
  </h2>
  <div class="flex lg:space-x-6 pb-10 lg:pb-20 flex-col lg:flex-row">
    <div class="lg:w-2/4 mb-6 lg:mb-0">
      <div class="mb-2 text-secondary text-sm">Mail</div>
      <a
        href="mailto:{{ email }}"
        class="text-h2 hover:text-blue-500 transition-all duration-300"
        >{{ email }}</a
      >
    </div>
    <div class="lg:w-2/4">
      <div class="mb-2 text-secondary text-sm">Phone</div>
      <a
        href="tel:{{ SALES_PHONE }}"
        class="text-h2 hover:text-blue-500 transition-all duration-300"
        >{{ SALES_PREVIEW_PHONE }}</a
      >
    </div>
  </div>
  <div class="border-t border-t-dark/20 pt-10 lg:pt-20">
    <div class="flex lg:space-x-6 pb-10 lg:pb-20 flex-col lg:flex-row">
      <div class="w-full lg:w-2/4 mb-6 lg:mb-0">
        <div>
          <div class="text-sm mb-3">Pages</div>
          <ul class="text-secondary text-sm grid gap-2">
            <li>
              <a
                href="/about"
                class="inline-flex hover:text-blue-500 transition-all duration-300"
                >About us</a
              >
            </li>
            <li>
              <a
                routerLink="/contacts"
                class="inline-flex hover:text-blue-500 transition-all duration-300"
                >Contacts</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="w-full lg:w-2/4">
        <div>
          <div class="text-sm mb-3">Legal</div>
          <ul class="text-secondary text-sm grid gap-2">
            <li>
              <a
                routerLink="/privacy-policy"
                class="inline-flex hover:text-blue-500 transition-all duration-300"
                >Privacy Policy</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-sm">
      © {{ currentDate | date : "y" }} Anklers. All right reserved.
    </div>
  </div>
</footer>
