<footer class="bg-dark px-12 pt-20 pb-12 rounded-3xl text-white mt-5">
  <h2 class="text-h2 w-3/5 mb-20">
    Partner with a studio that crafts tailor-made solutions for your unique
    ideas
  </h2>
  <div class="flex space-x-6 pb-20">
    <div class="w-2/4">
      <div class="mb-2 text-grey text-sm">Mail</div>
      <a
        href="mailto:hello@anklers.tech"
        class="text-h2 hover:text-blue-500 transition-all duration-300"
        >helloanklers.tech</a
      >
    </div>
    <div class="w-2/4">
      <div class="mb-2 text-grey text-sm">Phone</div>
      <a
        href="tel:+34(323)2390220"
        class="text-h2 hover:text-blue-500 transition-all duration-300"
        >+34 (323) 239 02 20</a
      >
    </div>
  </div>
  <div class="border-t border-t-white/30 pt-20">
    <div class="flex space-x-6 pb-20">
      <div class="w-2/4">
        <div>
          <div class="text-secondary text-sm mb-3">Pages</div>
          <ul class="text-white text-sm grid gap-2">
            <li>
              <a
                href="#"
                class="inline-flex hover:text-blue-500 transition-all duration-300"
                >About us</a
              >
            </li>
            <li>
              <a
                href="#"
                class="inline-flex hover:text-blue-500 transition-all duration-300"
                >Services</a
              >
            </li>
            <li>
              <a
                href="#"
                class="inline-flex hover:text-blue-500 transition-all duration-300"
                >Blog</a
              >
            </li>
            <li>
              <a
                href="#"
                class="inline-flex hover:text-blue-500 transition-all duration-300"
                >Contacts</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="w-2/4">
        <div class="mb-12">
          <div class="text-secondary text-sm mb-3">Social</div>
          <ul class="text-white text-sm grid gap-2">
            <li>
              <a
                href="#"
                class="inline-flex hover:text-blue-500 transition-all duration-300"
                >Linkedin</a
              >
            </li>
            <li>
              <a
                href="#"
                class="inline-flex hover:text-blue-500 transition-all duration-300"
                >What’s Up</a
              >
            </li>
            <li>
              <a
                href="#"
                class="inline-flex hover:text-blue-500 transition-all duration-300"
                >Telegram</a
              >
            </li>
          </ul>
        </div>
        <div>
          <div class="text-secondary text-sm mb-3">Legal</div>
          <ul class="text-white text-sm grid gap-2">
            <li>
              <a
                href="#"
                class="inline-flex hover:text-blue-500 transition-all duration-300"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a
                href="#"
                class="inline-flex hover:text-blue-500 transition-all duration-300"
                >Terms of Service</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-secondary text-sm">
      © 2024 Anklers. All right reserved.
    </div>
  </div>
</footer>
